h1 {
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
	background-color: #F5F5DC
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
 body > [id=topBit]{
	background-image: url("nyanGate.png");
	text-align:center;
	
}
table tr:nth-child(odd)	{
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}