<!--tempHumidity -->
{% if Latest_Temps_List %}
{% load staticfiles %}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" >

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Makers Home Page</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Ongoing projects</a></li>
        <li><a href="#">Members</a></li>
        <li><a href="#">Other stuff</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<table class = "table table-striped">


    {% for temp in Latest_Temps_List %}
        <tr><td><a href="/tempHumidity/tempHumidity:detail' tempHumidity.id %}">{{ temp.id }}</a></td>
		<td>{{temp.pi_num}}</td>
		<td>{{temp.temperature}}</td>
		<td>{{temp.humidity}}</td>
		<td>{{temp.date_rec}}</td></tr>
    {% endfor %}
</table>
</div>
{% else %}
    <p>no temps seen</p>
{% endif %}
<div class="container">
    <form action="{% url 'tempHumidity:submit' %}" method="post">
      {% csrf_token %}
      <input type= "text" name="pi_num" id="pi_num"/>
      <input type= "text" name="temperature" id="temperature"/>
      <input type= "text" name="humidity" id="humidity"/>
      <input type= "text" name="date_rec" id="date_rec"/>
      <input type="submit" value="Submit">
      </form>
</div>
