<!--MakersSiteHtml -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<head>
    <title>My Home Page</title>

</head>
    <body>

  <nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Makers Home Page</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Ongoing projects</a></li>
        <li><a href="/userInfo">Members</a></li>
        <li><a href="#">Other stuff</a></li>
      </ul>
    </div>
  </div>
</nav>



<p>TODO For someone who actually knows css</p>
</body>
</html>
