<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Street View events</title>
    <style>
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #map {
      height: 100%;
      }
      #floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
      }

      #pano {
      width: 50%;
      height: 100%;
      float: left;
      }
      #floating-panel {
      width: 45%;
      height: 100%;
      float: right;
      text-align: left;
      overflow: auto;
      position: static;
      border: 0px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJJ3BMM7Fx7qMT0kfcaBHGU1kMsYN0z2w&signed_in=true"></script>
    <script>
      function hello(){
      alert("Hello");
      }
      function forward(){
      //        alert(panorama.getPosition().lat());
      //          alert(panorama.getPosition().lat()+5.0);
      //        var angle =45;
      //alert(panorama.getLinks()[0].heading);
      panorama.setPosition({lat: panorama.getPosition().lat()+0.0002*Math.sin(panorama.getPov().heading) ,
      lng: panorama.getPosition().lng()+0.0002*Math.cos(panorama.getPov().heading)} );
      console.log("function called");
      //          panorama.setPosition(panorama.getPosition().lng()+5);
      }
      function backward(){
      panorama.setPosition({lat: panorama.getPosition().lat()-0.0002*Math.sin(panorama.getPov().heading),
      lng: panorama.getPosition().lng()-0.0002*Math.cos(panorama.getPov().heading)} );
      }
      function povmanip(){
      //alert( panorama.getPov().heading);
      panorama.setPov({
      heading: panorama.getPov().heading+10,
      pitch: panorama.getPov().pitch,
      })
      }
        function left(){
    
      panorama.setPov({
      heading: (panorama.getPov().heading+15),
      pitch: panorama.getPov().pitch,
      });
      }
      function right(){
    
      panorama.setPov({
      heading: (panorama.getPov().heading-15),
      pitch: panorama.getPov().pitch,
      });
      }
      
    </script>
  </head>
  <body>
    <div id="pano"></div>
    <div id="floating-panel">
      <table>
	<tr>
	  <td><b>Position</b></td><td id="position-cell">&nbsp;</td>
	</tr>
	<tr>
	  <td><b>POV Heading</b></td><td id="heading-cell">270</td>
	</tr>
	<tr>
	  <td><b>POV Pitch</b></td><td id="pitch-cell">0.0</td>
	</tr>
	<tr>
	  <td><b>Pano ID</b></td><td id="pano-cell">&nbsp;</td>
	</tr>
	<tr>
	  <td><button id="thing" onclick="forward()">Thing</button></td>
	  <td><button id="thing" onclick="backward()">Thing</button></td>
	  <td><button id="thing" onclick="povmanip()">Thing</button></td>
	  <input type="hidden" name="forward" id="forward">
	  <input type="hidden" name="turn" id="turn">
	  <input type="hidden" name="up" id="up">
	</tr>
	<table id="links_table"></table>
      </table>
    </div>
    <script>
      var panorama;
      function initPano() {
      panorama = new google.maps.StreetViewPanorama(
      document.getElementById('pano'), {
      position: {lat: 37.869, lng: -122.255},
      pov: {
      heading: 270,
      pitch: 0
      },
      visible: true,
      linksControl: false,
      panControl: false,
      enableCloseButton: false
      });

      panorama.addListener('pano_changed', function() {
      var panoCell = document.getElementById('pano-cell');
      panoCell.innerHTML = panorama.getPano();
      });

      panorama.addListener('links_changed', function() {
      var linksTable = document.getElementById('links_table');
      while (linksTable.hasChildNodes()) {
      linksTable.removeChild(linksTable.lastChild);
      }
      var links = panorama.getLinks();
      for (var i in links) {
      var row = document.createElement('tr');
      linksTable.appendChild(row);
      var labelCell = document.createElement('td');
      labelCell.innerHTML = '<b>Link: ' + i + '</b>';
      var valueCell = document.createElement('td');
      valueCell.innerHTML = links[i].description;
      linksTable.appendChild(labelCell);
      linksTable.appendChild(valueCell);
      }
      });

      /*    panorama.addListener('thing', function(){
      //panorama.setPosition(panorama.getPosition());
      alert(panorama.getPosition());
      });*/
      panorama.addListener('position_changed', function() {
      var positionCell = document.getElementById('position-cell');
      positionCell.firstChild.nodeValue = panorama.getPosition() + '';
      });

      panorama.addListener('pov_changed', function() {
      var headingCell = document.getElementById('heading-cell');
      var pitchCell = document.getElementById('pitch-cell');
      headingCell.firstChild.nodeValue = panorama.getPov().heading + '';
      pitchCell.firstChild.nodeValue = panorama.getPov().pitch + '';
      });
      }
      


    </script>
    <script
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJJ3BMM7Fx7qMT0kfcaBHGU1kMsYN0z2w&signed_in=true&callback=initPano"
       async defer>
    </script>
  </body>
  </html>
