<!DOCTYPE html>
<html>
   {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>Street View events</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/streetview.css' %}" >
  <script src="{% static 'js/customstreetviewfun.js' %}"></script>
     
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJJ3BMM7Fx7qMT0kfcaBHGU1kMsYN0z2w&signed_in=true"></script>
    <script>
         </script>
  </head>
  <body>
<table>
    <td><input type="text" id="address"/></td>
	  <td><button id="nonimportant" onclick="codeAddress()">address</td>
</table>
    <div id="pano"></div>
     </div>
    
      <!--<script src="{% static 'js/other.js' %}"></script>-->
      <script
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJJ3BMM7Fx7qMT0kfcaBHGU1kMsYN0z2w&signed_in=true&callback=initPano"
       async defer>
    </script>
  </body>
  </html>
